/*
* @Author: luo
* @Date:   2019-07-25 18:50:06
* @Last Modified by:   luo
* @Last Modified time: 2019-08-06 22:49:46
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{

}
h2{
	text-align: center;
	color: royalblue;
	font-size: 30px;
}
.wrapper{
	margin: 20px;
	/* margin-top: 50px; */
}
.wrapper .cavs{
	border: 1px solid royalblue;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 20px;
   
}
.wrapper .btn-list{
	width: 1000px;
	text-align: center;
}
.wrapper .btn-list li{
	display: inline-block;
}
.wrapper .btn-list li input{
	background-color: yellow;
	color: #000;
	border: none;
	padding: 10px 20px;
	margin-left: 30px;
	cursor: pointer;
	border-radius: 25px;
	transition-duration: 0.2s;
}
.wrapper .btn-list li .range{
	vertical-align: middle;
}
.wrapper .btn-list li input:hover{
	border: 1px solid rebeccapurple;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.3);
}


